* {
    margin: 0px;
    padding: 0px;
}

body {
    background: black;
}

.main-wrapper {
    margin: 50px auto 50px auto;
    width : 1366px;
}

#game-container {
    cursor : none;
}


@media only screen and (max-width:768px) {

    
    #game-container {
        
    }

}