* {
    margin: 0px;
    padding: 0px;
}

body {
    background: black;
}

.main-wrapper {
    margin: auto;
    padding: 50px;
    width : 962px;
}

#game-container {
    border: 1px solid red;
}


@media only screen and (max-width:768px) {

    
    #game-container {
        
    }

}