* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'militia';
    src: url('../assets/fonts/militia.ttf');
}

body {
    overflow: hidden;
    background : black;
}

#game-container {
    background-color: #1A1A1A;
}

@media only screen and (max-width:768px) {

    
    #game-container {
        
    }

}